body {
	background-image: url('background.png');
	background-size: cover;
	margin: 0px;
}
section {
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
header {
	visibility: hidden;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	background: purple;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#bar{
	display: flex;
	align-items: center;
	justify-content: center;
}
.pjButton{
	margin-top: 0 !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

#mainBox{
	visibility: hidden;
	border-style: double;
	border-radius: 25px;
	padding-bottom: 0px;
	margin-top: 5%;
	margin-right: 1.5%;
	margin-left: 1.5%;
	background-color: rgba(0,0,0,0.5);
}
#charBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 0px;
	margin-bottom: 0px;
}
#imageBox{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 1%;
	padding-bottom: 0px;
	margin-bottom: 0px;
	min-width: 910px;
	min-height: 560px;
}
#infoBox{
	border-style: double;
	border-radius: 5px;
	margin-right: 5%;
	padding-right: 5px;
	padding-left: 5px;
	min-height: 500px;
	background-color: rgba(128,0,128,0.5);
	padding-top: 10px;
}
#infoBox button{
	border-style: double;
	border-width: medium;
	border-bottom-style: none;
	border-radius: 5px 5px 0 0;
	border-color: inherit;
	background-color: rgba(128,0,128,0.5);
}
#details{
	max-height: 500px;
	overflow-y: auto;
}
#reportPage{
	border-style: double;
	border-radius: 5px 0 5px 5px;
	margin-right: 5%;
	min-height: 450px;
	background-color: rgba(128,0,128,0.5);
	padding-top: 10px;
}
#prevImage{
	justify-content: flex-start;
}
#nextImage{
	justify-content: flex-end;
}
#prevImage, #nextImage, .pjButton{
	width: auto;
	margin-top: -22px;
	padding: 16px;
	cursor: pointer;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 3px 3px 3px 3px;
	border-style: none;
	user-select: none;
	background-color: rgba(0,0,0,0);
}
#prevImage:hover, #nextImage:hover{
	background-color: rgba(0,0,0,0.8);
}
.pjButton:hover{
	background-color: rgba(102,0,102,0.8);
}
#pjSprite{
	align-self: flex-end;
}

.miniSprites{
	min-width: 2.5%;
	max-width: 5%;
	min-height: 2.5%;
    max-height: 5%;
}
.selectedPj{
	border-style: solid;
	border-color: white;
	border-radius: 3px;
}
.presentImage{
	min-height: 82px;
	height: 5%;
	min-width: 82px;
	width: 5%;
}
/* responsive */
@media only screen and (max-width: 1500px){
	#mainBox{
		display: grid;
		grid-template-areas: 
		'name'
		'char';
	}
	#nameBox{
		grid-area: name;
	}
	#charBox{
		grid-area: char;
		display: grid;
		grid-template-areas: 
		'image'
		'info';	
		justify-content: center;
	}
	#imageBox{
		grid-area: image;
	}
	#infoBox{
		grid-area: info;
		margin-left: 5%;
		margin-right: 5%;
	}
}